---
layout: default
permalink: /doc
---
<!-- Main Container -->
<div id="banners"></div>
<div class="container">
  {% for post in site.posts %}
    {% if post.categories[0] == "docs" %}
    {% if post.level == 1 %}
      {% if post.link %}
        <a href="{{ post.link }}" title="{{ post.title }}">
      {% else %}
        <a href="{{ post.url }}" title="{{ post.title }}">
      {% endif %}
      <div class="doc-list">
        {% if post.author %}
          <font color="#aaaaaa"> {{ post.author }} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% else %}
          <font color="#aaaaaa">{% if page.author %} {{ page.author }} {% else %} TheRouter官方 {% endif %} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% endif %}
        <br>
        <h2 class="blog-title">
          {{ post.title }}
        </h2>
        <font color="#666666"> 
          {% if post.description.size > 120 %}
            {{ post.description | rstrip }}
          {% else %}
            {{ post.content | strip_html | truncate: 120 }}
          {% endif %} 
        </font>
        <br>
        
        {% if post.tag %}
        <span class="label label-default">{{ post.tag }}</span> 
        {% endif %}     
      </div>
      </a>
      <hr>
    {% endif %}  
    {% endif %}  
  {% endfor %}

  {% for post in site.posts %}
    {% if post.categories[0] == "docs" %}
    {% if post.level == 2 %}
      {% if post.link %}
        <a href="{{ post.link }}" title="{{ post.title }}">
      {% else %}
        <a href="{{ post.url }}" title="{{ post.title }}">
      {% endif %}
      <div class="doc-list">
        {% if post.author %}
          <font color="#aaaaaa"> {{ post.author }} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% else %}
          <font color="#aaaaaa">{% if page.author %} {{ page.author }} {% else %} TheRouter官方 {% endif %} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% endif %}
        <br>
        <h2 class="blog-title">
          {{ post.title }}
        </h2>
        <font color="#666666"> {{ post.description }} </font>
        <br>
        {% if post.tag %}
        <span class="label label-default">{{ post.tag }}</span> 
        {% endif %}        
      </div>
      </a>
      <hr>
    {% endif %}  
    {% endif %}  
  {% endfor %}

  {% for post in site.posts %}
    {% if post.categories[0] == "docs" %}
    {% if post.level == 3 %}
      {% if post.link %}
        <a href="{{ post.link }}" title="{{ post.title }}">
      {% else %}
        <a href="{{ post.url }}" title="{{ post.title }}">
      {% endif %}
      <div class="doc-list">
        {% if post.author %}
          <font color="#aaaaaa"> {{ post.author }} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% else %}
          <font color="#aaaaaa">{% if page.author %} {{ page.author }} {% else %} TheRouter官方 {% endif %} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% endif %}
        <br>
        <h2 class="blog-title">
          {{ post.title }}
        </h2>
        <font color="#666666"> {{ post.description }} </font>
        <br>
        {% if post.tag %}
        <span class="label label-default">{{ post.tag }}</span> 
        {% endif %}    
      </div>
      </a>
      <hr>
    {% endif %}  
    {% endif %}  
  {% endfor %}

  {% for post in site.posts %}
    {% if post.categories[0] == "docs" %}
    {% if post.level == 0 %}
      {% if post.link %}
        <a href="{{ post.link }}" title="{{ post.title }}">
      {% else %}
        <a href="{{ post.url }}" title="{{ post.title }}">
      {% endif %}
      <div class="doc-list">
        {% if post.author %}
          <font color="#aaaaaa"> {{ post.author }} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% else %}
          <font color="#aaaaaa">{% if page.author %} {{ page.author }} {% else %} TheRouter官方 {% endif %} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
        {% endif %}
        <br>
        <h2 class="blog-title">
          {{ post.title }}
        </h2>
        <font color="#666666"> {{ post.description }} </font>
        <br>
        {% if post.tag %}
        <span class="label label-default">{{ post.tag }}</span> 
        {% endif %}   
      </div>
      </a>
      <hr>
    {% endif %}  
    {% endif %}  
  {% endfor %}

</div>
<!--End Main Container -->