<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="bi bi-link-45deg bi-footer"></i> 友情链接</h3>
        <p><a href="https://www.huolala.cn/"> 货拉拉</a></p>
        <p><a href="https://www.huolala.cn/house_move.html"> 无忧搬家</a></p>
        <p><a href="https://www.xiaolachuxing.com/"> 小拉出行</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="bi bi-slack bi-footer"></i> 社区</h3>
        <p><a href="https://kymjs.com/therouter/wx/"> 官方微信群</a></p>
        <p><a href="https://github.com/HuolalaTech/hll-wp-therouter-android"> GitHub </a></p>
        <p><a href="https://juejin.cn/user/1768489241815070/posts"> 技术博客 </a></p> 
      </div>
      <div class="col-md-4">
        <h3><i class="bi bi-postcard-heart bi-footer"></i> 关于</h3>
        <p><a href="https://juejin.cn/user/1768489241815070/posts"> 货拉拉移动技术团队</a></p>
        <p><a href="https://kymjs.com"> 开源实验室</a></p>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">TheRouter</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>