<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="{{site.url}}/assets/img/logo/logo4.png" width="170px">
    </a>

    <ul class="nav nav-pills">
      
      <li class="nav-item">
        <a href="/" class="nav-link header-color" aria-current="page">首页</a>
      </li>
      <li class="nav-item">
        <a href="https://therouter.cn/android" class="nav-link header-color">Android</a>
      </li>
      <li class="nav-item">
        <a href="https://therouter.cn/ios" class="nav-link header-color">iOS</a>
      </li>
      <li class="nav-item">
        <a href="https://therouter.cn/docs/2022/08/24/01" class="nav-link header-color">社区</a>
      </li>
      <li class="nav-item">
        <a href="https://therouter.cn/about" class="nav-link header-color">关于</a>
      </li>
      <li class="nav-item"><a href="https://github.com/HuolalaTech/hll-wp-therouter-ios" class="nav-link header-color">GitHub</a></li>
    </ul>
  </header>
</div>


<!-- End Header -->