<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <div style="position: relative; width: 100%;">
        <img src="{{ site.url }}/assets/img/logo/huolala.jpg" class="blur" width="100%">
        <span class="home-title">移动端模块化解决方案</span>
        <span class="home-text">TheRouter是货拉拉打造的一款同时支持 Android 及 iOS 的轻量级路由中间件，在 iOS 端吸取了其他其他语言的特性，支持注解功能，极大提升了路由在 iOS 端的使用体感。摒弃了传统 ioser 的 target-action 或 protocol 理念，向更广的后台或 Android 应用对齐。</span>
        <a href="https://github.com/HuolalaTech/hll-wp-therouter-ios">
            <button type="button" class="btn btn-info button-color home-button-start">&nbsp;&nbsp;&nbsp;iOS&nbsp;&nbsp;&nbsp;</button>
        </a>
        <a href="https://github.com/HuolalaTech/hll-wp-therouter-android">
            <button type="button" class="btn btn-info button-color home-button-github">Android</button>
        </a>
    </div>

    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">框架能力</h3><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><i class="bi bi-bezier home-bi"></i></p>
                        <h4 class="services-title">页面跳转能力</h4>
                        <p class="services-body">支持常规 VC 或 Storyboard 的 push/present 跳转能力，支持添加重定向、拦截器、远程路由表下发等等。<br></p>
                        <p class="services-more"><a href="/docs/2022/08/28/01">查阅详细文档</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="bi bi-bezier2 home-bi"></i></p>
                        <h4 class="services-title">自动注册能力</h4>
                        <p class="services-body">实现类似Java注解功能，在vc类或任意方法上标注即可完成路由注册。</p>
                        <p class="services-more"><a href="/docs/2022/08/27/01">查阅详细文档</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="bi bi-diagram-3 home-bi"></i></p>
                        <h4 class="services-title">硬编码消除</h4>
                        <p class="services-body">内置脚本会自动将注册的path转为静态字符串常量供业务使用。</p>
                        <p class="services-more"><a href="/docs/2022/08/25/01">查阅详细文档</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
